# Hugging Face Access Token (needed for gated models like meta-llama/Llama-3.2-1B)
# 1. Get your token at https://huggingface.co/settings/tokens (Read permissions)
# 2. Accept the license on https://huggingface.co/meta-llama/Llama-3.2-1B
# 3. Copy this file to .env:  cp .env.example .env
HF_TOKEN=

# Model Backbone: set to "meta-llama/Llama-3.2-1B" or "gpt2"
GENREC_BACKBONE=meta-llama/Llama-3.2-1B
